<nav class="menu-nav{=$navClass}">
  <ul class="menu-list {=$listClass}">
    <li class="menu-item {=$itemClass}">
      <a href="#aboutus" class="menu-link {=$linkClass}">About us</a>
    </li>
    <li class="menu-item {=$itemClass}">
      <a href="#benefits" class="menu-link {=$linkClass}">Benefits</a>
    </li>
    <li class="menu-item {=$itemClass}">
      <a href="#gallery" class="menu-link {=$linkClass}">Gallery</a>
    </li>
    <li class="menu-item {=$itemClass}">
      <a href="#testimonials" class="menu-link {=$linkClass}">Testimonials</a>
    </li>
    <li class="menu-item {=$itemClass}">
      <a href="#contacts" class="menu-link {=$linkClass}">Contacts</a>
    </li>
  </ul>
</nav>