<header class="header">
  <div class="container header-container">
    <a href="index.html">
      <svg class="logo-icon" width="160" height="68">
        <use href="/images/icons.svg#company-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list"><a href="#aboutus">About us</a></li>
        <li class="header-nav-list"><a href="#benefits">Benefits</a></li>
        <li class="header-nav-list"><a href="#gallery">Gallery</a></li>
        <li class="header-nav-list">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="header-nav-list"><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <a href=""> Order Now </a>
    <button type="button" class="open-burger-btn">
      <svg class="open-burger-icon" width="24" height="24">
        <use href="/images/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
