.contacts-section {
  padding: 64px 0px;
  margin: 0 auto;
}
.container {
}
.contacts-container {
}
.contacts-subtitle {
}
.contacts-title {
}
.contacts-text {
}
.contacts {
  font-style: normal;
}
.contacts-list {
}
.contacts-list-item {
}
.contacts-list-icon {
}
.contacts-list-name {
}
.contacts-list-link {
}
.contacts-order-form {
}
.order-form-label {
}
.order-form-input {
}
.order-form-comment {
}
.contacts-send-btn {
  font-family: inherit;
}