.gallery {
  padding: 64px 0;
}

.gallery-title {
  font-family: 'Sora', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

.gallery-paragraph {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .gallery-paragraph {
    margin-bottom: 80px;
  }
}

.gallery-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .gallery-block {
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .gallery-block {
    gap: 32px;
  }
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .wrapper-left {
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .wrapper-left {
    gap: 32px;
  }
}

.wrapper-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .wrapper-right {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .wrapper-right {
    gap: 32px;
  }
}
